.bundle-image {
  max-width: 300px;
  max-height: 300px;
}

.bundles-cards {
  max-width: 600px;
  margin: 20px;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  overflow-wrap: break-word;
  background-color: #f9f9f9;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
